@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center pb-5 pt-5">
    <h1 class="display-4 text-black">Naša Kulinarika</h1>
    <p>Pobrskajte med recepti in preizkusite nekaj novega.</p>
    <img  class="img-thumbnail w-50" src="images/indexPageCoverImage.jpg" alt="CoverImage"/>
    <div>
        <a class="btn btn-success">Recepti</a>
        <a class="btn btn-primary">Iskanje</a>
    </div>

</div>