@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center pb-3 pt-2">
    <h1 class="display-4 text-black">Domača Kulinarika</h1>
    <div class="pb-3">
        <a class="btn btn-success w-auto" asp-controller="Recipes" asp-action="Index">Pobrskajte med recepti in preizkusite nekaj novega.</a>
    </div>

    <img class="img-thumbnail w-50" src="images/indexPageCoverImage.jpg" alt="CoverImage"/>
    
</div>